<div class="header">
	<div class="container clearfix">
    <div class="logo">
      <a href="#/" ng-click="navigation = false"><h1><span>for</span> HIM</h1></a>
    </div>
    <div class="nav-container clearfix">
		  <ul class="header-info">
		    <li><a target="_blank" href="http://facebook.com/For-him-Gents-hair-studio-447566958624522"><span class="fa fa-facebook-square"></span></a></li>
		    <li><a target="_blank" href="http://twitter.com/forhim1994"><span class="fa fa-twitter-square"></span></a></li>
		    <li class="nav-toggle"><a ng-click="navigation = !navigation"><span class="fa fa-bars"></span></a></li>
		  </ul>


			<nav ng-show="navigation" class="nav">
			  <ul>
			    <li><a href="#/opening-times" ng-click="navigation = !navigation">Opening hours</a></li>
			    <li><a href="#/pricelist" ng-click="navigation = !navigation">Pricelist</a></li>
			    <li><a href="#/contact" ng-click="navigation = !navigation">Contact</a></li>
			  </ul>
			</nav>

		</div>
  </div>
</div>